body{
    margin: 0;
    padding: 0;
    /* background-color: red; */
    background-image: url('Restaurant.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 1000px; /* Image ko cover karne ke liye */
    /* background-position: center; */
    
}
h1{
    margin-left: 160px;
    margin-top: 100px;
    color: #300410;
    font-size:4rem
}
.block{
    width: 700px;
    height: 650px;
    background-color:#000;
    margin-left: 200px;
    opacity: 0.7;
    
}
.block input{
    display: flex;
    flex-direction: column;
    width: 83%;
    height:40px;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 1.2rem;
}
.block button{
    margin-left:40%;
    width: 10%;
    height:40px;
}
.block select{
    width: 84%;
    height: 40px;
    opacity: 1;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 1.2rem;
}
#sub{
    width:30%;
    margin-left: 35%;
    background-color:antiquewhite
}

h3{
    margin-left: 330px;
    font-size: 2.2rem;
}
.box{
    margin-top:-20px;
    margin-left: 400px;
}
i{
    /* margin-left: 350px; */
    font-size: 3rem;
}
.visual{
    margin-left:-27.2%;
    margin-top: -2%;
    height: 1800px;
    width: 1900px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.visual h4{
    margin-left:40%;
    font-size: 4rem;
    padding-top:4rem;
    margin-top: 1rem;
}
/* .d .col1 img{
    margin-left:100px;
} */